//colors
$black: #000;
$black_15: rgba(0, 0, 0, 0.15);
$color_azure_radiance_approx: #027cff;
$white: #fff;
$color_alice_blue_approx: #f6fbff;
$color_dodger_blue_approx: #31acff;
$color_alto_approx:  lightgray;

//fonts
$font_0: Roboto;
$font_1: sans-serif;
$font_2: Libre Baskerville;
$font_3: serif;

//urls
$url_0: url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Roboto:300,400,700);
$url_1: url(../img/logo.png);

@import $url_0;
html {
    margin: 0;
    padding: 0;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    font-size: 12.8px;
    * {
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: inherit;
        &:before {
            //Instead of the line below you could use @include box-sizing($bs)
            box-sizing: inherit;
        }
        &:after {
            //Instead of the line below you could use @include box-sizing($bs)
            box-sizing: inherit;
        }
    }
}
body {
    margin: 0;
    padding: 0;
    font-family: $font_0, $font_1;
    font-weight: 300;
    &.basic_index {
        .search-area {
            display: none;
        }
        #select-prompt {
            display: none;
        }
    }
    &.basic_verse-selected #select-prompt {
        display: none;
    }
    &.basic_section #select-prompt {
        display: none;
    }
}
@media only screen and(min-width: 600px) {
    html {
        font-size: 16px;
    }
    .container {
        padding: 0 20px;
    }
    .list-container.numeric-list {
        ol {
            justify-content: left;
        }
        li {
            margin: 0 0.3em 0.3em 0;
        }
    }
}
h1 {
    margin: 0;
}
h2 {
    margin: 0;
}
h3 {
    margin: 0;
}
h4 {
    margin: 0;
}
h5 {
    margin: 0;
}
h6 {
    margin: 0;
}
a {
    color: $black;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
.hidden {
    display: none !important;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: content-box;
    max-width: 1060px;
    padding: 0 10px;
    margin: auto;
    * {
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        &:before {
            //Instead of the line below you could use @include box-sizing($bs)
            box-sizing: border-box;
        }
        &:after {
            //Instead of the line below you could use @include box-sizing($bs)
            box-sizing: border-box;
        }
    }
}
header {
    position: relative;
    z-index: 99;
    padding: 0.5em 0;
    &:after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: 0 2px 14px 0 $black_15;
    }
    .container {
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .logo {
        text-indent: 99999px;
        overflow: hidden;
        width: 2.75rem;
        height: 2.75rem;
        background: $color_azure_radiance_approx $url_1 center no-repeat;
        background-size: 22px auto;
    }
    h1 {
        text-align: right;
        background: $white;
        a {
            font-family: $font_2, $font_3;
            font-style: italic;
            font-weight: 400;
            color: $color_azure_radiance_approx;
            font-size: 1.5rem;
            line-height: 2.75rem;
        }
    }
}
.subheader {
    background: $color_alice_blue_approx;
    padding: 2.125rem 0;
    position: relative;
    margin-bottom: 3.125rem;
    .container {
        flex-wrap: wrap;
    }
    .subheadings {
        margin-right: 2rem;
        h2 {
            font-size: 1rem;
            line-height: 1.3125;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 0.375em;
        }
        h3 {
            font-family: $font_2, $font_3;
            font-size: 1.75rem;
            line-height: 2.25rem;
            font-weight: 700;
            i {
                font-style: normal;
            }
        }
    }
}
.crumbs {
    flex: 1;
    margin-left: 1em;
    li {
        float: left;
        &:before {
            float: left;
            margin: 0 0.5em;
            content: " >";
        }
        &:first-child:before {
            display: none;
        }
    }
    a {
        float: left;
        border-bottom: solid 1px;
        color: $color_dodger_blue_approx;
        border-color: inherit;
        &:hover {
            border-color: transparent;
        }
    }
    ul:after {
        content: "";
        display: table;
        clear: both;
    }
}
.search-area {
    background: $white;
    border: 1px solid $color_alto_approx;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
    width: 100%;
    margin-top: 1rem;
    button {
        font-size: 0.875rem;
        height: 3em;
        line-height: 3em;
        border: 0;
        background: none;
        text-align: center;
        padding: 0 0.5em 0 1em;
        cursor: pointer;
        width: 2.8rem;
    }
    input {
        font-size: 0.875rem;
        height: 3em;
        line-height: 3em;
        border: 0;
        background: none;
        width: calc(100% - 2.8rem);
        padding: 0 0.5em 0 0;
    }
}
@media only screen and(min-width: 500px) {
    .search-area {
        width: auto;
    }
}
.search-nav {
    margin-bottom: 2rem;
    > * {
        display: block;
    }
    .results-current-page {
        margin-bottom: 1rem;
    }
    &.search-nav-top {
        margin-bottom: 2rem;
        .results-count {
            padding-bottom: 2rem;
            border-bottom: 1px solid $color_alto_approx;
        }
        .results-current-page {
            display: none;
        }
        .results-nav {
            display: none;
        }
    }
    .results-nav button {
        font-size: 1rem;
        line-height: 2em;
        cursor: pointer;
        border: 1px solid $color_alto_approx;
        background: $white;
        &:hover {
            border-color: $color_dodger_blue_approx;
            color: $color_dodger_blue_approx;
        }
        + button {
            margin-left: 1rem;
        }
    }
    &.search-nav-bottom .results-count {
        display: none;
    }
}
.list-heading {
    border-bottom: 1px solid $color_alto_approx;
    margin-bottom: 1em;
    font-weight: normal;
    span {
        display: inline-block;
        background: $color_dodger_blue_approx;
        color: $white;
        text-transform: uppercase;
        font-size: 1.125rem;
        line-height: 1.875rem;
        font-weight: 700;
        padding: 0 1em;
        margin-bottom: -1px;
    }
}
.list-container {
    > ul {
        margin-bottom: 4.375rem;
    }
    > ol {
        margin-bottom: 4.375rem;
    }
    li {
        font-size: 2rem;
        line-height: 1.5;
        padding: 0.25em 0;
        a:hover {
            color: $color_dodger_blue_approx;
        }
    }
    &.numeric-list {
        ol {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        li {
            padding: 0;
            margin: 0 0.15em 0.3em;
            a {
                display: inline-block;
                padding: 0 0.25em;
                border: 1px solid $color_alto_approx;
                white-space: nowrap;
                font-size: 1rem;
                line-height: 3.75rem;
                min-width: 3.75rem;
                text-align: center;
                &:hover {
                    background: $color_dodger_blue_approx;
                    color: $white;
                }
            }
        }
    }
    &.bible-list li {
        font-size: 1rem;
        line-height: 1.5625rem;
        padding: 0.3em 0;
        a {
            display: flex;
            justify-content: left;
        }
        .bible-version-abbr {
            display: inline-block;
            white-space: nowrap;
            font-weight: 700;
            min-width: 5.3em;
            text-align: right;
            text-decoration: none;
            margin-right: 1.3em;
        }
        .section-id {
            display: inline-block;
            white-space: nowrap;
            font-weight: 700;
            min-width: 5.3em;
            text-align: right;
            text-decoration: none;
            margin-right: 1.3em;
        }
        .bible-version-desc:before {
            content: "- ";
        }
    }
    &.section-list li {
        font-size: 1rem;
        line-height: 1.5625rem;
        padding: 0.3em 0;
        a {
            display: flex;
            justify-content: left;
        }
        .bible-version-abbr {
            display: inline-block;
            white-space: nowrap;
            font-weight: 700;
            min-width: 5.3em;
            text-align: right;
            text-decoration: none;
            margin-right: 1.3em;
        }
        .section-id {
            display: inline-block;
            white-space: nowrap;
            font-weight: 700;
            min-width: 5.3em;
            text-align: right;
            text-decoration: none;
            margin-right: 1.3em;
        }
        .bible-version-desc:before {
            content: "- ";
        }
    }
    &.search-results-list li {
        padding: 0 0 2.5rem;
        border-bottom: 1px solid $color_alto_approx;
        margin-bottom: 2.75rem;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        > * {
            line-height: 1.5rem;
            margin-bottom: 0.3em;
        }
        h5 {
            font-size: 1.125rem;
            font-weight: 700;
            text-transform: uppercase;
        }
        .text {
            font-size: 1.125rem;
            font-weight: 300;
        }
        > a {
            float: left;
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $color_dodger_blue_approx;
            border-bottom: solid 1px $color_dodger_blue_approx;
            &:hover {
                border-color: transparent;
            }
        }
    }
}
*:focus {
    outline: none;
}