//colors
$color_royal_purple_approx: rebeccapurple;
$color_mine_shaft_approx: #333;
$color_martini_approx: #999999;
$black: black;
$color_gray_approx: #8c8c8c;
$color_dove_gray_approx: #737373;
$color_guardsman_red_approx: #cc0000;

//fonts
$font_0: CharisSIL;
$font_1: serif;
$font_2: Helvetica;
$font_3: sans-serif;

//@extend-elements
//original selectors
//.eb-container html, .eb-container body, .eb-container div, .eb-container span, .eb-container applet, .eb-container object, .eb-container iframe, .eb-container h1, .eb-container h2, .eb-container h3, .eb-container h4, .eb-container h5, .eb-container h6, .eb-container p, .eb-container blockquote, .eb-container pre, .eb-container a, .eb-container abbr, .eb-container acronym, .eb-container address, .eb-container big, .eb-container cite, .eb-container code, .eb-container del, .eb-container dfn, .eb-container em, .eb-container img, .eb-container ins, .eb-container kbd, .eb-container q, .eb-container s, .eb-container samp, .eb-container small, .eb-container strike, .eb-container strong, .eb-container sub, .eb-container sup, .eb-container tt, .eb-container var, .eb-container b, .eb-container u, .eb-container i, .eb-container center, .eb-container dl, .eb-container dt, .eb-container dd, .eb-container ol, .eb-container ul, .eb-container li, .eb-container fieldset, .eb-container form, .eb-container label, .eb-container legend, .eb-container table, .eb-container caption, .eb-container tbody, .eb-container tfoot, .eb-container thead, .eb-container tr, .eb-container th, .eb-container td, .eb-container article, .eb-container aside, .eb-container canvas, .eb-container details, .eb-container embed, .eb-container figure, .eb-container figcaption, .eb-container footer, .eb-container header, .eb-container hgroup, .eb-container menu, .eb-container nav, .eb-container output, .eb-container ruby, .eb-container section, .eb-container summary, .eb-container time, .eb-container mark, .eb-container audio, .eb-container video
%extend_1 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

//original selectors
//.eb-container .s, .eb-container .s1
%extend_2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: normal;
}


.test {
    color: $color_royal_purple_approx;
}
.eb-container {
    font-size: 18px;
    font-family: $font_0, $font_1;
    line-height: 1.5;
    color: $color_mine_shaft_approx;
    html {
        @extend %extend_1;
    }
    body {
        @extend %extend_1;
    }
    div {
        @extend %extend_1;
    }
    span {
        @extend %extend_1;
    }
    applet {
        @extend %extend_1;
    }
    object {
        @extend %extend_1;
    }
    iframe {
        @extend %extend_1;
    }
    h1 {
        @extend %extend_1;
    }
    h2 {
        @extend %extend_1;
    }
    h3 {
        @extend %extend_1;
    }
    h4 {
        @extend %extend_1;
    }
    h5 {
        @extend %extend_1;
    }
    h6 {
        @extend %extend_1;
    }
    p {
        @extend %extend_1;
    }
    blockquote {
        @extend %extend_1;
        quotes: none;
        &:before {
            content: '';
            content: none;
        }
        &:after {
            content: '';
            content: none;
        }
    }
    pre {
        @extend %extend_1;
    }
    a {
        @extend %extend_1;
    }
    abbr {
        @extend %extend_1;
    }
    acronym {
        @extend %extend_1;
    }
    address {
        @extend %extend_1;
    }
    big {
        @extend %extend_1;
    }
    cite {
        @extend %extend_1;
    }
    code {
        @extend %extend_1;
    }
    del {
        @extend %extend_1;
    }
    dfn {
        @extend %extend_1;
    }
    em {
        @extend %extend_1;
    }
    img {
        @extend %extend_1;
    }
    ins {
        @extend %extend_1;
    }
    kbd {
        @extend %extend_1;
    }
    q {
        @extend %extend_1;
        quotes: none;
        &:before {
            content: '';
            content: none;
        }
        &:after {
            content: '';
            content: none;
        }
    }
    s {
        @extend %extend_1;
    }
    samp {
        @extend %extend_1;
    }
    small {
        @extend %extend_1;
    }
    strike {
        @extend %extend_1;
    }
    strong {
        @extend %extend_1;
    }
    sub {
        @extend %extend_1;
    }
    sup {
        @extend %extend_1;
        + sup:before {
            content: "\a0";
        }
    }
    tt {
        @extend %extend_1;
    }
    var {
        @extend %extend_1;
    }
    b {
        @extend %extend_1;
    }
    u {
        @extend %extend_1;
    }
    i {
        @extend %extend_1;
    }
    center {
        @extend %extend_1;
    }
    dl {
        @extend %extend_1;
    }
    dt {
        @extend %extend_1;
    }
    dd {
        @extend %extend_1;
    }
    ol {
        @extend %extend_1;
        list-style: none;
    }
    ul {
        @extend %extend_1;
        list-style: none;
    }
    li {
        @extend %extend_1;
    }
    fieldset {
        @extend %extend_1;
    }
    form {
        @extend %extend_1;
    }
    label {
        @extend %extend_1;
    }
    legend {
        @extend %extend_1;
    }
    table {
        @extend %extend_1;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        display: table;
    }
    caption {
        @extend %extend_1;
    }
    tbody {
        @extend %extend_1;
    }
    tfoot {
        @extend %extend_1;
    }
    thead {
        @extend %extend_1;
    }
    tr {
        @extend %extend_1;
    }
    th {
        @extend %extend_1;
    }
    td {
        @extend %extend_1;
    }
    article {
        @extend %extend_1;
        display: block;
    }
    aside {
        @extend %extend_1;
        display: block;
    }
    canvas {
        @extend %extend_1;
    }
    details {
        @extend %extend_1;
        display: block;
    }
    embed {
        @extend %extend_1;
    }
    figure {
        @extend %extend_1;
        display: block;
    }
    figcaption {
        @extend %extend_1;
        display: block;
    }
    footer {
        @extend %extend_1;
        display: block;
    }
    header {
        @extend %extend_1;
        display: block;
    }
    hgroup {
        @extend %extend_1;
        display: block;
    }
    menu {
        @extend %extend_1;
        display: block;
    }
    nav {
        @extend %extend_1;
        display: block;
    }
    output {
        @extend %extend_1;
    }
    ruby {
        @extend %extend_1;
    }
    section {
        @extend %extend_1;
        display: block;
    }
    summary {
        @extend %extend_1;
    }
    time {
        @extend %extend_1;
    }
    mark {
        @extend %extend_1;
    }
    audio {
        @extend %extend_1;
    }
    video {
        @extend %extend_1;
    }
    * {
        background: none;
    }
    .c {
        text-align: center;
        font-weight: bold;
        font-size: 1.3em;
    }
    .ca {
        font-style: italic;
        font-weight: normal;
        color: $color_martini_approx;
        &:before {
            content: "(";
        }
        &:after {
            content: ")" !important;
        }
    }
    .cl {
        text-align: center;
        font-weight: bold;
    }
    .cd {
        margin-left: 1em;
        margin-right: 1em;
        font-style: italic;
    }
    sup[class^=v] {
        color: $black;
        font-size: .7em;
        letter-spacing: -.03em;
        vertical-align: 0.25em;
        line-height: 0;
        font-family: $font_2, $font_3;
        font-weight: bold;
        top: inherit;
        &:after {
            content: "\a0";
        }
    }
    .va {
        font-style: italic;
        &:before {
            content: "(";
        }
        &:after {
            content: ")" !important;
        }
    }
    .xo {
        font-weight: bold;
    }
    .xk {
        font-style: italic;
    }
    .xq {
        font-style: italic;
    }
    .notelink {
        text-decoration: underline;
        padding: .1em;
        color: $color_gray_approx;
        &:hover {
            color: $color_gray_approx;
        }
        &:active {
            color: $color_gray_approx;
        }
        &:visited {
            color: $color_gray_approx;
        }
        sup {
            font-size: .7em;
            letter-spacing: -.03em;
            vertical-align: 0.25em;
            line-height: 0;
            font-family: $font_2, $font_3;
            font-weight: bold;
        }
        + sup:before {
            content: "\a0";
        }
    }
    .f {
        display: block;
    }
    .fr {
        font-weight: bold;
    }
    .fk {
        font-style: italic;
        font-variant: small-caps;
    }
    [class^=fq] {
        font-style: italic;
    }
    .fl {
        font-style: italic;
        font-weight: bold;
    }
    .fv {
        color: $color_dove_gray_approx;
        font-size: .75em;
        letter-spacing: -.03em;
        vertical-align: 0.25em;
        line-height: 0;
        font-family: $font_2, $font_3;
        font-weight: bold;
        &:after {
            content: "\a0";
        }
    }
    .h {
        text-align: center;
        font-style: italic;
    }
    [class^=imt] {
        text-align: center;
        font-weight: bold;
    }
    .imt {
        font-size: 1.4em;
    }
    .imt1 {
        font-size: 1.4em;
    }
    .imte {
        font-size: 1.4em;
    }
    .imte1 {
        font-size: 1.4em;
    }
    .imt2 {
        font-size: 1.3em;
    }
    .imte2 {
        font-size: 1.3em;
    }
    .imt3 {
        font-size: 1.2em;
    }
    .imte3 {
        font-size: 1.2em;
    }
    .imt4 {
        font-size: 1.1em;
    }
    .imte4 {
        font-size: 1.1em;
    }
    [class^=is] {
        font-size: 1.1em;
        text-align: center;
        font-weight: bold;
    }
    [class^="ip"] {
        text-indent: 1em;
    }
    .ipi {
        padding-left: rhythm(1);
        padding-right: rhythm(1);
    }
    .im {
        text-indent: 0;
    }
    .imi {
        text-indent: 0;
        margin-left: 1em;
        margin-right: 1em;
    }
    .ipq {
        font-style: italic;
        margin-left: 1em;
        margin-right: 1em;
    }
    .imq {
        margin-left: 1em;
        margin-right: 1em;
    }
    .ipr {
        text-align: right;
        text-indent: 0;
    }
    [class^=iq] {
        margin-left: 1em;
        margin-right: 1em;
    }
    .iq2 {
        text-indent: 1em;
    }
    [class^=ili] {
        padding-left: 1em;
        text-indent: -1em;
    }
    .ili1 {
        margin-left: 1em;
        margin-right: 1em;
    }
    .ili2 {
        margin-left: 2em;
        margin-right: 1em;
    }
    .iot {
        font-weight: bold;
        font-size: 1.1em;
        margin-top: 1.5em;
    }
    .io {
        margin-left: 1em;
        margin-right: 0;
    }
    .io1 {
        margin-left: 1em;
        margin-right: 0;
    }
    .io2 {
        margin-left: 2em;
        margin-right: 0;
    }
    .io3 {
        margin-left: 3em;
        margin-right: 0;
    }
    .io4 {
        margin-left: 4em;
        margin-right: 0;
    }
    .ior {
        font-style: italic;
    }
    .iex {
        text-indent: 1em;
    }
    .iqt {
        text-indent: 1em;
        font-style: italic;
    }
    [class^=p] {
        text-indent: 1em;
        + {
            &.s {
                margin-top: 1.5em;
            }
            &.s1 {
                margin-top: 1.5em;
            }
        }
    }
    .m {
        text-indent: 0 !important;
    }
    .pmo {
        text-indent: 0;
        margin-left: 1em;
        margin-right: 0;
    }
    .pm {
        margin-left: 1em;
        margin-right: 0;
    }
    .pmr {
        text-align: right;
    }
    .pmc {
        margin-left: 1em;
        margin-right: 0;
    }
    .pi {
        margin-left: 1em;
        margin-right: 0;
    }
    .pi1 {
        margin-left: 2em;
        margin-right: 0;
    }
    .pi2 {
        margin-left: 3em;
        margin-right: 0;
    }
    .pi3 {
        margin-left: 4em;
        margin-right: 0;
    }
    .mi {
        margin-left: 1em;
        margin-right: 0;
        text-indent: 0;
    }
    .pc {
        text-align: center;
        text-indent: 0;
    }
    .cls {
        text-align: right;
    }
    [class^=li] {
        padding-left: 1em;
        text-indent: -1em;
        margin-left: 1em;
        margin-right: 0;
    }
    .li2 {
        margin-left: 2em;
        margin-right: 0;
    }
    .li3 {
        margin-left: 3em;
        margin-right: 0;
    }
    .li4 {
        margin-left: 4em;
        margin-right: 0;
    }
    [class^=q] {
        padding-left: 1em;
        text-indent: -1em;
        margin-left: 1em;
        margin-right: 0;
        + {
            &.s {
                margin-top: 1.5em;
            }
            &.s1 {
                margin-top: 1.5em;
            }
        }
    }
    .q2 {
        margin-left: 1.5em;
        margin-right: 0;
    }
    .q3 {
        margin-left: 2em;
        margin-right: 0;
    }
    .q4 {
        margin-left: 2.5em;
        margin-right: 0;
    }
    .qr {
        text-align: right;
        font-style: italic;
    }
    .qc {
        text-align: center;
    }
    .qs {
        font-style: italic;
        text-align: right;
    }
    .qa {
        text-align: center;
        font-style: italic;
        font-size: 1.1em;
        margin-left: 0;
        margin-right: 0;
    }
    .qac {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        text-indent: 0;
        font-style: italic;
    }
    .qm2 {
        margin-left: 1.5em;
        margin-right: 0;
    }
    .qm3 {
        margin-left: 2em;
        margin-right: 0;
    }
    .bk {
        font-style: italic;
    }
    .nd {
        font-variant: small-caps;
    }
    .add {
        font-weight: bold;
        font-style: italic;
    }
    .dc {
        font-style: italic;
    }
    .k {
        font-weight: bold;
        font-style: italic;
    }
    .lit {
        text-align: right;
        font-weight: bold;
    }
    .pn {
        font-weight: bold;
        text-decoration: underline;
    }
    .sls {
        font-style: italic;
    }
    .tl {
        font-style: italic;
    }
    .wj {
        color: $color_guardsman_red_approx;
    }
    .em {
        font-style: italic;
    }
    .bd {
        font-weight: bold;
    }
    .it {
        font-style: italic;
    }
    .bdit {
        font-weight: bold;
        font-style: italic;
    }
    .no {
        font-weight: normal;
        font-style: normal;
    }
    .sc {
        font-variant: small-caps;
    }
    .qt {
        font-style: italic;
    }
    .sig {
        font-weight: normal;
        font-style: italic;
    }
    .tr {
        display: table-row;
    }
    [class^=th] {
        font-style: italic;
        display: table-cell;
    }
    [class^=thr] {
        text-align: right;
        padding-right: 1.5em;
    }
    [class^=tc] {
        display: table-cell;
    }
    [class^=tcr] {
        text-align: right;
        padding-right: 1.5em;
    }
    [class^=mt] {
        text-align: center;
        font-weight: bold;
        letter-spacing: normal;
    }
    .mt {
        font-size: 2.8em;
    }
    .mt1 {
        font-size: 2.8em;
    }
    .mt2 {
        font-size: 1.6em;
        font-style: italic;
        font-weight: normal;
    }
    [class^=ms] {
        text-align: center;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: normal;
    }
    .ms {
        font-size: 1.6em;
    }
    .ms1 {
        font-size: 1.6em;
    }
    .ms2 {
        font-size: 1.5em;
    }
    .ms3 {
        font-size: 1.4em;
    }
    .mr {
        font-size: .9em;
        margin-bottom: 1em;
        text-align: center;
        font-weight: normal;
        font-style: italic;
    }
    .s {
        @extend %extend_2;
    }
    .s1 {
        @extend %extend_2;
    }
    .s2 {
        text-align: center;
        font-weight: bold;
        font-size: inherit;
        letter-spacing: normal;
    }
    .s3 {
        text-align: center;
        font-weight: bold;
        font-size: inherit;
        letter-spacing: normal;
    }
    .s4 {
        text-align: center;
        font-weight: bold;
        font-size: inherit;
        letter-spacing: normal;
    }
    .sr {
        font-weight: normal;
        font-style: italic;
        text-align: center;
        font-size: inherit;
        letter-spacing: normal;
    }
    .r {
        font-size: .9em;
        font-weight: normal;
        font-style: italic;
        text-align: center;
        letter-spacing: normal;
    }
    .rq {
        font-size: .85em;
        line-height: 1.9;
        font-style: italic;
        padding-left: rhythm(0.5);
        letter-spacing: normal;
    }
    .d {
        font-style: italic;
        text-align: center;
        font-size: inherit;
        letter-spacing: normal;
    }
    .sp {
        text-align: left;
        font-weight: normal;
        font-style: italic;
        font-size: inherit;
        letter-spacing: normal;
    }
}